.mail-linkedinC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw; /* opcional: límite máximo */
  margin-inline: auto; /* centra horizontalmente sin usar 25% */
  margin-top: 5%;
  margin-bottom: 8%;
}

.mailC,
.linkedinC{
  display: inline-block;
  font-size: xx-large;
  cursor: pointer;
  transition: all 0.3s;
  transform-origin: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  box-shadow:
      0 4px 30px rgba(255, 255, 255, 0.1),
      0 0 10px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.mailC:hover{
  color: #fff;
  transform: scale(1.50);
  text-shadow: 
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000;
}

.linkedinC:hover{
  color: #fff;
  transform: scale(1.50);
  text-shadow: 
    0 0 5px #0A66C2,
    0 0 10px #0A66C2,
    0 0 20px #0A66C2,
    0 0 40px #0A66C2;
}

.githubC{
  display: inline-block;
  font-size: 35px;
  margin-bottom: 5%;
  cursor: pointer;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  box-shadow:
      0 4px 30px rgba(255, 255, 255, 0.1),
      0 0 10px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.githubC:hover{
  color: #d3a1ff;
  transform: scale(1.50);
  text-shadow: 
    0 0 5px #8a2be2,
    0 0 10px #0077ff,  
    0 0 20px #8a2be2,
    0 0 40px #0077ff;
}