/* --- ROOT --- */
#root {
  width: 100%;
  min-height: 100vh; /* permite crecer con el contenido */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* evita scroll horizontal, pero permite el vertical */
  text-align: center;
}

/* --- CONTENEDOR PRINCIPAL --- */
.app-containerr {
  position: relative;
  width: 100%;
  min-height: 100vh; /* permite que el contenido más largo active el scroll */
  overflow-x: hidden;
  overflow-y: auto; /* habilita el scroll vertical */
}

/* --- FONDO (LightRays) --- */
.custom-rays {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

/* --- SECCIÓN DE INICIO --- */
.containerInicio {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh; /* ocupa una "pantalla completa" */
  gap: 80px;
  background: transparent;
}

/* --- SECCIÓN DE ABAJO --- */
.contenido {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; 
}

/* --- PANEL IZQUIERDO --- */
.left {
  flex: 0 0 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(75px);
}

/* --- PANEL DERECHO --- */
.right {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
}

.texto-inicio{
  width: 70vh;
  padding: 5px;
  font-size: 27px;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .containerInicio {
    flex-direction: column;
    justify-content: center;
  }
  .texto-inicio{
    width: 45vh;
    font-size: 20px;
  }

  .left,
  .right {
    width: 100%;
    justify-content: center;
  }
}
